<div class="container">
    <div class="header">
        <div>
            <img id="logo-icon" src="../assets/images/logo.png" alt="logo">
        </div>
        <div class="user-container" routerLink = "/user-cabinet">
            <span><h4>zdjor</h4></span>
            <img id="user-icon" src="../assets/images/user-icon.png" alt="user-logo">
        </div>
    </div>
    <div class="aside-bar">
        <ul class="aside-bar-top-list">
            <li routerLink = "/catalogue"><h3>Catalog</h3></li>
            <li routerLink = "/users"><h3>Users</h3></li>
            <li routerLink = "/orders"><h3>Orders</h3></li>
        </ul>
        <ul class="aside-bar-bottom-list">
            <li routerLink = "/about"><h3>About</h3></li>
            <li routerLink = "/help"><h3>Help</h3></li>
        </ul>
    </div>
    <div class="main">
        <div class="main-item"
             *ngFor="let car of cars">
            <div class="text-container">
                {{car.brand}} | {{car.model}}
            </div>
            <div class="button-container">
                <button class="edit-button" (click)="editCar(car.id)">Edit</button>
                <button class="view-button" (click)="viewCar(car.id)">View</button>
                <button class="delete-button" (click)="deleteCar(car.id)">Delete</button>
            </div>
        </div>
    </div>
    <div class="filter-bar">
        <div class="filter-item">

        </div>

    </div>
</div>