<div class="container">
    <div class="header">
        <div>
            <img id="logo-icon" src="../assets/images/logo.png" alt="logo">
        </div>
        <div class="user-container">
            <span><h4>zdjor</h4></span>
            <img id="user-icon" src="../assets/images/user-icon.png" alt="user-logo">
        </div>
    </div>
    <div class="aside-bar">
        <ul class="aside-bar-top-list">
            <li>
                <h3 routerLink = "/admin-home">Catalog</h3>
            </li>
            <li><h3>Users</h3></li>
            <li><h3>Orders</h3></li>
        </ul>
        <ul class="aside-bar-bottom-list">
            <li routerLink = "/about"><h3>About</h3></li>
            <li><h3>Help</h3></li>
        </ul>
    </div>
    <div class="main">
        <div>
            <h5>Welcome to TechnoDrift!</h5>
            <br>
            <h6>
                TechnoDrift is an advanced technology company specializing in automobiles. We strive to provide you with the opportunity to purchase unique vehicles that meet the ever-changing needs of our customers.
            </h6>
            <br>
            <h6>
                Our team consists of dedicated professionals passionate about сars and creating exceptional software solutions to improve lives. At TechnoDrift, we believe in pushing the boundaries and taking on challenges to drive positive change.
            </h6>
            <br>
            <h6>
                Visit TechnoDrift to choose the best car for you, feel how TechnoDrift can help you get closer to your dream.
            </h6>
        </div>
    </div>
    <div class="filter-bar">

    </div>
</div>