<div class="container">
    <div class="header">
        <div>
            <img id="logo-icon" src="../assets/images/logo.png" alt="logo">
        </div>
        <div class="user-container" routerLink = "/user-cabinet">
            <img id="user-icon" src="../assets/images/user-icon.png" alt="user-logo">
        </div>
    </div>
    <div class="aside-bar">
        <ul class="aside-bar-top-list">
            <li routerLink = "/catalogue"><h3>Catalog</h3></li>
            <li routerLink = "/users"><h3>Users</h3></li>
            <li routerLink = "/orders"><h3>Orders</h3></li>
        </ul>
        <ul class="aside-bar-bottom-list">
            <li routerLink = "/about"><h3>About</h3></li>
            <li routerLink = "/help"><h3>Help</h3></li>
        </ul>
    </div>
    <div class="main">
        <br>
        <h2>Order Information</h2>
        <div class="car-table">
            <div class="table-column">
                <div class="table-row">
                    <span class="field-label">ID:</span>{{order.id}}
                </div>
                <div class="table-row">
                    <span class="field-label">CarID:</span>{{order.carId}}
                </div>
                <div class="table-row">
                    <span class="field-label">UserID:</span>{{order.userId}}
                </div>
                <div class="table-row">
                    <label for="gear_box">Status:</label>
                    <select id="gear_box" name="gear_box" [(ngModel)]="order.status">
                        <option value="CREATED">CREATED</option>
                        <option value="IN_PROGRESS">IN_PROGRESS</option>
                        <option value="IN_PLACE">IN_PLACE</option>
                        <option value="COMPLETE">COMPLETE</option>
                    </select>
                </div>
            </div>
            <div class="table-column">
                <div class="table-row">
                    <span class="field-label">CreationDate:</span>{{order.creationDate}}
                </div>
                <div class="table-row">
                    <span class="field-label">User name:</span>{{order.name}}
                </div>
                <div class="table-row">
                    <span class="field-label">User surname:</span>{{order.surname}}
                </div>
                <div class="table-row">
                    <span class="field-label">Email:</span>{{order.email}}
                </div>
                <div class="table-row">
                    <span class="field-label">Phone number:</span>{{order.phoneNumber}}
                </div>
            </div>
        </div>
        <div class="button-group">
            <button class="cancel-button" type="button" (click)="back()">Back</button>
            <button class="save-button" type="submit" (click)="updateOrder()">Save Changes</button>
        </div>
    </div>
    <div class="filter-bar">

    </div>
</div>