<div class="container">
    <div class="header">
        <div>
            <img id="logo-icon" src="../assets/images/logo.png" alt="logo">
        </div>
        <div class="user-container">
            <span><h4>zdjor</h4></span>
            <img id="user-icon" src="../assets/images/user-icon.png" alt="user-logo">
        </div>
    </div>
    <div class="aside-bar">
        <ul class="aside-bar-top-list">
            <li>
                <h3>Catalog</h3>
            </li>
            <li><h3>Users</h3></li>
            <li><h3>Orders</h3></li>
        </ul>
        <ul class="aside-bar-bottom-list">
            <li><h3>About</h3></li>
            <li><h3>Help</h3></li>
        </ul>
    </div>
    <div class="main">
        <div class="main-item">
            <div class="text-container">
            </div>
            <div class="button-container">
                <button class="edit-button">Edit</button>
                <button class="view-button">View</button>
                <button class="delete-button">Delete</button>
            </div>
        </div>
    </div>
    <div class="filter-bar">
        <div class="filter-item">
            Idi nahui
        </div>
        <button>Filter</button>
    </div>
</div>